%head
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  / %link{ href: "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", rel: "stylesheet"}/
  / %script{ src: "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}
  %link{ rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" }
%body
  %script{ src:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" }
= render partial: 'mercaries/header'

%main.main
  %section.banner
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          = image_tag("/images/top-banner-kusanagi.jpg")
        .swiper-slide
          = link_to root_path do
            = image_tag("/images/top-banner-2.png",href:"#")
        .swiper-slide
          .swiper-slide__content
            %h3
              スマホでかんたん
              %br
              フリマアプリ
            %p
              メルカリはスマホからすぐに出品できる
              %br
              購入時も安心な独自システムのアプリです
            .swiper-slide__content__link
              %a.swiper-slide__content__link__itunes{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
                = image_tag("/images/app-store.svg", width: "170",height: "50")
              %a.swiper-slide__content__link__android{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
                = image_tag("/images/google-play.svg",height: "50", width: "170")
            = image_tag("/images/main_content_pc.png")
          = image_tag("/images/main_bg_pc.jpg", class: "swiper-slide__bg")
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
  %script
    window.addEventListener('load', function() {
    var swiper = new Swiper('.swiper-container', {
    loop: true,
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev'
    });
    }, false);

  %section.contents
    %h2.pickup-header ピックアップカテゴリー
    .pickup-items
      %h3.pickup-items__title
        %a{href:"#"}レディース新着アイテム
      .item-box
        = render partial: 'mercaries/item-content'
        = render partial: 'mercaries/item-content'
        = render partial: 'mercaries/item-content'
        = render partial: 'mercaries/item-content'
      .item-box__viewall
        %a{href:"#"} すべての商品を見る
    .pickup-items


  %a.btn-exhibit{href:"#"}
    .sell 出品
    %i.fa.fa-camera
    %aside.app-banner
  .app-banner__pc
    .app-banner__pc__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner__icon.clearfix
        %figure.mercari-logo
          = image_tag( "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1621863497",alt: "", width: "68")
        %ul.clearfix
          %li
            %a{href:"https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
              = image_tag("/images/app-store.svg",alt: "", height: "40",width: "133")
          %li
            %a{href:"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
              = image_tag("//images/google-play.svg",alt: "", height: "40", width: "133")
    %figure
      = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1621863497",alt: "", class:"mobile-img")
= render partial: 'mercaries/footer'
