= render partial: "shared/header-login"
.bread-crumbs
 %ul
  %li
   - breadcrumb :credit
   = breadcrumbs separator: " &rsaquo; "

.main-content
 %main.r-content-clearfix
  .rightcontent2
   %section.rightcontent__container
    %h2.rightcontent2__head 支払い方法
    .rightcontent2__inner
     %section
      .rightcontent2__content
       %h3.rightcontent2__credit--text クレジットカード一覧
      %ul.rightcontent2__creditlist
       %li.rightcontent2__creditlist2
        %form.rightcontent2__creditcard
         %figure
          =image_tag("/images/visa-logo.png" , size: "49x15" , alt: "visa")
          .rightcontent2__creditnumber **************
          .rightcontent2__creditnumber 日にち
          %button.rightcontent2__button{:type => "submit"} 削除する
     .rightcontent2__footer
     %a.rightcontent2__cash{href:"#"}
      %span.righttcontent2__cash2 支払い方法について＞

  = render partial: "shared/left-bar"

 = render partial: "shared/up-footer"
 = render partial: "shared/footer"




