%head
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
%body
= render partial: "shared/header-login"
.bread-crumbs
  %ul
    %li
      - breadcrumb :mypage
      = breadcrumbs separator: " &rsaquo; "
.main-content
  %main.r-content-clearfix
    .rightcontent1
      %section.rightcontent__mypage
        %figure.rightcontent__mypage2
          =image_tag("/images/member_photo_noimage_thumb.png" ,class: "rightcontent__mypage--icon" , size: "60x60" , alt: "user")
        %h2.rightcontent__mypage--name
          = current_user.name
        .rightcontent__mypagenumber
          .rightcontent__mypage--evaluation  評価
          .rightcontent__mypage--exhibit     出品数
      %section.user-mypage
        %ul.tab
          %li.active お知らせ
          %li やる事リスト
        .area
          %ul.show
            %li.text
              .user-mypage__link
                %figure.figure-size
                  = image_tag("/images/mercari_icon.png" ,size:"48x48" , alt: "mercari-log")
                .user-mypage__body
                  .user-mypage__text  sample-news1
            %li.text
              .user-mypage__link
                %figure.figure-size
                  = image_tag("/images/mercari_icon.png" ,size:"48x48" , alt: "mercari-log")
                .user-mypage__body
                  .user-mypage__text  sample-news2
            %li.text
              .user-mypage__link
                %figure.figure-size
                  = image_tag("/images/mercari_icon.png" ,size:"48x48" , alt: "mercari-log")
                .user-mypage__body
                  .user-mypage__text  sample-news3
            %li.text
              .user-mypage__link
                %figure.figure-size
                  = image_tag("/images/mercari_icon.png" ,size:"48x48" , alt: "mercari-log")
                .user-mypage__body
                  .user-mypage__text  sample-news4
            %li.text
              .user-mypage__link
                %figure.figure-size
                  = image_tag("/images/mercari_icon.png" ,size:"48x48" , alt: "mercari-log")
                .user-mypage__body
                  .user-mypage__text  sample-news5
            %li.text
              .user-mypage__link1  一覧を見る
          %ul.id
            = image_tag("/images/logo-gray.svg" ,size:"100x100" , alt: "mercari-log" , class: "mercari-log16")
            %li.text1 現在やることはありません。
      %section.rightcontent3
        %section.rightcontent__container
          %h2.rightcontent3__head 購入した商品
        %section.user-mypage
          %ul.tab-2
            %li.active-2 取引中
            %li 過去の取引
          .area-2
            %ul.show-2
              %li.text-2
                .user-mypage__link-2
                  %figure.figure-size
                    = image_tag("/images/mercari_icon.png" ,size:"48x48" , alt: "mercari-log")
                  .user-mypage__body-2
                    .user-mypage__text-2  sample-item1
              %li.text-2
                .user-mypage__link-2
                  %figure.figure-size
                    = image_tag("/images/mercari_icon.png" ,size:"48x48" , alt: "mercari-log")
                  .user-mypage__body-2
                    .user-mypage__text-2  sample-item2
            %ul.id-2
              = image_tag("/images/logo-gray.svg" ,size:"100x100" , alt: "mercari-log" , class: "mercari-log16")
              %li.text1-2 過去の取引はありません。



    = render partial: "shared/left-bar"

  = render partial: "shared/up-footer"
  = render partial: "shared/footer"
