%h3.pickup-items__title
  = link_to "シャネル 新着アイテム","#"
.item-box
  - @chanel.each do |item|
    %section.item-box__content
      %figure.item-box__content__image
        = image_tag "#{@item.images.first.image}"
      .item-box__content__detail
        %h3.item-box__content__detail__name
          = item.name
        .item-box__content__detail__inner
          %h3#textBox-price.item-box__content__detail__inner__price
            = "¥ #{@item.price}"
          %p.item-box__content__detail__inner__tax
            (税込)
.item-box__viewall
  = link_to "すべての商品を見る","#"

%h3.pickup-items__title
  = link_to "ルイ ヴィトン 新着アイテム","#"
.item-box
  - @vuitton.each do |item|
    %section.item-box__content
      %figure.item-box__content__image
        = image_tag "#{item.images.first.image}"
      .item-box__content__detail
        %h3.item-box__content__detail__name
          = item.name
        .item-box__content__detail__inner
          %h3#textBox-price.item-box__content__detail__inner__price
            = "¥ #{item.price}"
          %p.item-box__content__detail__inner__tax
            (税込)
.item-box__viewall
  = link_to "すべての商品を見る","#"

%h3.pickup-items__title
  = link_to "シュプリーム 新着アイテム","#"
.item-box
  - @supreme.each do |item|
    %section.item-box__content
      %figure.item-box__content__image
        = image_tag "#{item.images.first.image}"
      .item-box__content__detail
        %h3.item-box__content__detail__name
          = item.name
        .item-box__content__detail__inner
          %h3#textBox-price.item-box__content__detail__inner__price
            = "¥ #{item.price}"
          %p.item-box__content__detail__inner__tax
            (税込)
.item-box__viewall
  = link_to "すべての商品を見る","#"

%h3.pickup-items__title
  = link_to "ナイキ 新着アイテム","#"
.item-box
  - @nike.each do |item|
    %section.item-box__content
      %figure.item-box__content__image
        = image_tag "#{item.images.first.image}"
      .item-box__content__detail
        %h3.item-box__content__detail__name
          = item.name
        .item-box__content__detail__inner
          %h3#textBox-price.item-box__content__detail__inner__price
            = "¥ #{item.price}"
          %p.item-box__content__detail__inner__tax
            (税込)
.item-box__viewall
  = link_to "すべての商品を見る","#"
