%head
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %link{ rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" }
%body
  %script{ src:"https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" }

  = link_to "ログアウト", destroy_user_session_path, method: :delete

- if user_signed_in?
  = render partial: 'items/header-login'

- else
  = render partial: 'items/header'

%main.main
  %section.banner
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          = link_to do
            = image_tag "/images/top-banner-kusanagi.jpg", class: "banner-image"
        .swiper-slide
          = link_to do
            = image_tag "/images/top-banner-2.png", class: "banner-image"
        .swiper-slide
          .swiper-slide__content
            %h3
              スマホでかんたん
              %br
              フリマアプリ
            %p
              メルカリはスマホからすぐに出品できる
              %br
              購入時も安心な独自システムのアプリです
            .swiper-slide__content__link
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8",class: "swiper-slide__content__link__itunes" do
                = image_tag "/images/app-store.svg", width: "170"
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja",class: "swiper-slide__content__link__android" do
                = image_tag "/images/google-play.svg",height: "50", width: "170"
            = image_tag "/images/main_content_pc.png"
          = image_tag "/images/main_bg_pc.jpg",class: "swiper-slide__bg"
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next

  %section.contents
    %h2.pickup-header ピックアップカテゴリー
    .pickup-items

      = render partial: 'pickup-category'
  %section.contents
    %h2.pickup-header ピックアップブランド
    .pickup-items
      = render partial: 'pickup-brand'


  = link_to "/items/new", class:"btn-exhibit" do
    .sell 出品
    = fa_icon ("camera")

=  render partial: 'mercaries/up-footer.html.haml'
=  render partial: 'items/footer.html.haml'
