%head
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
%body
  .default-content
    %header
      = render partial: 'mercaries/header'
    %nav.bread-crumbs
      %ul
        %li パンくず
    %section.item
      %h1.item__name 商品名
      .item__content.clearfix
        .item__content__image
          .item__content__image__top
            = image_tag("/images/IMG_2942.jpg",height:"300",width:"300",alt:"")
          .item__content__image__list.clearfix
            .item__content__image__list__inner
              = image_tag("/images/IMG_2942.jpg",height:"75",width:"75",alt:"image01")
            .item__content__image__list__inner
              = image_tag("/images/main_content_pc.png",height:"75",width:"75",alt:"image02")
            .item__content__image__list__inner
              = image_tag("/images/IMG_2906.jpg",height:"75",width:"75",alt:"image03")
            .item__content__image__list__inner
              = image_tag("/images/IMG_2946.jpg",height:"75",width:"75",alt:"image04")
        %table.item__content__table
          %tbody
            %tr
              %th 出品者
              %td
                %a{ href:"user_page" } ユーザー名
                %div
                  .item-user__rating
                    %i.fa.fa-laugh
                    %span 12
                  .item-user__rating
                    %i.fa.fa-meh
                    %span 0
                  .item-user__rating
                    %i.fa.fa-frown
                    %span 3
            %tr
              %th カテゴリー
              %td
                %a{ href:"category_page" }
                  .large-category
                    %i.fa.fa-angle-right
                    大カテゴリ
                %a{ href:"category_page" }
                  .medium-category
                    %i.fa.fa-angle-right
                    中カテゴリ
                %a{ href:"category_page" }
                  .small-category
                    %i.fa.fa-angle-right
                    小カテゴリ
            %tr
              %th ブランド
              %td
                %a{ href:"brand_page" }
                  %div ブランド名
            %tr
              %th 商品のサイズ
              %td プルダウンで選択
            %tr
              %th 商品の状態
              %td プルダウンで選択
            %tr
              %th 配送料の負担
              %td プルダウンで選択
            %tr
              %th 配送の方法
              %td プルダウンで選択
            %tr
              %th 配送元地域
              %td
                %a{ href:"prefecture_page" }
                  %div 都道府県
            %tr
              %th 発送の目安
              %td プルダウンで選択
      %script
        window.addEventListener('load', function() {
        $('.item__content__image__list__inner img').mouseover(function(){
        var $thisImg = $(this).attr('src');
        var $thisAlt = $(this).attr('alt');
        $('.item__content__image__top img').attr({src:$thisImg,alt:$thisAlt});
        });
        }, false);

      .item__price
        %span.item__price--bold ¥ 商品の値段
        %span.item__price__tax (税込)
        %span.item__price__shipping-fee 送料込み
      .item__point
        .item__point__message 所持ポイントが表示されます
      %a.item__btn 購入画面に進む
      .item__description
        %p.item__description--inner
        ここに商品の詳細が入ります。
        %br
        開業
      .item__likes.clearfix
        .item__likes__left
          %button.item__button__likes
            %i.far.fa-heart
            %span いいね!
            %span 数
          %a.item__button__report
            %i.far.fa-flag
            %span 不適切な商品の報告
        .item__likes__right
          %a
            %i.fas.fa-lock
            %span あんしん・あんぜんへの取り組み
    .item-messages
      .item-messages__content
        .item-messages__content--inner
          %ul
            %li.clearfix
              .message__user
                %figure
                  %div
                  %figcaption.message__user__name ユーザー名
              .message__body
                .message__body__text ここにコメント本文が入ります。
                .message__body__icon
                  %time.message__body__icon__time
                    %i.fa.fa-clock
                    %span 日前
                %i.icon-balloon
        .item-messages__content--inner
          %form.item-messages__content--inner__form
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea.content-detail{ rows:"4" }
            %button.sell__btn__gray コメントする
    %ul.nav__item-link.clearfix
      %li
        %a.nav__item-link--prev{ href:"prev-item"}
          %i.fa.fa-angle-left
          前のアイテム
      %li
        %a.nav__item-link--next{ href:"next-item"}
          次のアイテム
          %i.fa.fa-angle-right
    .item-social-media
      %ul.item-social-media__box
        %li
          %a{ href:"www.facebook.com"}
          %i.fab.fa-facebook-square
        %li
          %a{ href:"www.twitter.com"}
          %i.fab.fa-twitter-square
        %li
          %a{ href:"www.line.com"}
          %i.fab.fa-line
        %li
          %a{ href:"www.printerest.com"}
          %i.fab.fa-pinterest-square
    .other-items
      %section.other-items__user
        %h2.other-items__head
          %a{ href:"user-item-page"} ユーザーさんのその他の出品
        .other-items__contents.clearfix
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
      %section.other-items__brand
        %h2.other-items__head
          %a{ href:"user-item-page"} ブランド名のその他の出品
        .other-items__contents.clearfix
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
          = render partial: 'mercaries/item-content'
    = render partial: 'mercaries/footer'

