.single-container
  %header.single-header
    %h1
      %a{href: "items#index"}
        = image_tag("/images/logo.svg", height: "49",width: "185")
  %main.single-main
    %section.single-main__content
      %div
        %h2.single-main__content__head 商品の情報を入力
        - flash.each do |type, msg|
          %div{class: "alert alert-#{type}"}= msg
        = form_for @item do |f|
          .single-main__content__form__item
            %h3.single-main__content__form__item__title 出品画像
            %span.form-yes4__label-req 必須
            %p 最大４枚までアップロードできます
            = f.fields_for :images do |fini|
              .single-main__content__form__item__image
                = fini.label :image, class:"upload-box" do
                  画像はこちら
                  = fini.file_field :image, onchange:"previewFiles()", multiple:"true",class: 'hidden'
                  = image_tag :"",height:"120",width:"120",name:"preview0",class:"preview"
                  = image_tag :"",height:"120",width:"120",name:"preview1",class:"preview"
                  = image_tag :"",height:"120",width:"120",name:"preview2",class:"preview"
                  = image_tag :"",height:"120",width:"120",name:"preview3",class:"preview"
          .single-main__content__form__item
            .single-main__content__form__item__detail
              %label 商品名
              %span.form-yes4__label-req 必須
              %div
                = f.text_field :name, class:"input-name", placeholder: "商品名（必須40文字まで）"
            .single-main__content__form__item__detail
              %label 商品の説明
              %span.form-yes4__label-req 必須
              = f.text_area :detail,class:"content-detail", rows:"5", placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
          .single-main__content__form__item.clearfix
            %h4.item__sub 商品の詳細
            .single-main__content__form__item__select
              .single-main__content__form__item__detail
                %label カテゴリー
                %span.form-yes4__label-req 必須
                %div
                  .select-wrap
                    = f.select :lcategory_id do
                      %option{value:"" } ---
                      %option{value:"レディース"}レディース
                      %option{value:"メンズ"}メンズ
                      %option{value:"本・音楽・ゲーム"}本・音楽・ゲーム
                    = fa_icon 'angle-down'
                %div
                  .select-wrap
                    = f.select :mcategory_id do
                      %option{value:"" } ---
                      %option{value:"トップス","data-val" => "レディース"}トップス
                      %option{value:"スカート","data-val" => "レディース"}スカート
                      %option{value:"ワンピース","data-val" => "レディース"}ワンピース
                      %option{value:"トップス","data-val" => "メンズ"}トップス
                      %option{value:"ジャケット/アウター","data-val" => "メンズ"}ジャケット/アウター
                      %option{value:"パンツ","data-val" => "メンズ"}パンツ
                      %option{value:"本","data-val" => "本・音楽・ゲーム"}本
                      %option{value:"漫画","data-val" => "本・音楽・ゲーム"}漫画
                      %option{value:"雑誌","data-val" => "本・音楽・ゲーム"}雑誌
                    = fa_icon 'angle-down'
                %div
                  .select-wrap
                    = f.select :scategory_id do
                      %option{value:"" } ---
                      %option{value:"ポロシャツ","data-val" => "トップス"}ポロシャツ
                      %option{value:"キャミソール","data-val" => "トップス"}キャミソール
                      %option{value:"ミニスカート","data-val" => "スカート"}ミニスカート
                      %option{value:"ひざ丈スカート","data-val" => "スカート"}ひざ丈スカート
                      %option{value:"ミニワンピース","data-val" => "ワンピース"}ミニワンピース
                      %option{value:"ロングワンピース","data-val" => "ワンピース"}ロングワンピース
                    = fa_icon 'angle-down'
              .single-main__content__form__item__detail
                %label サイズ
                %span.form-yes4__label-req 必須
                %div
                  .select-wrap
                    = f.select :size,[["L","L"],["M","M"],["S","S"]],prompt:"---"
                    = fa_icon 'angle-down'
              .single-main__content__form__item__detail
                %label ブランド
                %span.form-yes4__label-any 任意
                %div
                  .select-wrap
                    = f.text_field :brand, class:"input-name",placeholder: "例)シャネルなど"
              .single-main__content__form__item__detail
                %label 商品の状態
                %span.form-yes4__label-req 必須
                %div
                  .select-wrap
                    = f.select :condition,[["新品、未使用","新品、未使用"]],prompt:"---"
                    = fa_icon 'angle-down'
          = f.fields_for :shipping_method do |fin|
            .single-main__content__form__item.clearfix
              %h4.item__sub 配送について
              .single-main__content__form__item__select
                .single-main__content__form__item__detail
                  = fin.label :"配送料の負担"
                  %span.form-yes4__label-req 必須
                  %div
                    .select-wrap
                      = fin.select :burden_fee do
                        %option{value:"" } ---
                        %option{value:"送料込み(出品者負担)"}送料込み(出品者負担)
                        %option{value:"着払い(購入者負担)"}着払い(購入者負担)
                      = fa_icon 'angle-down'
                .single-main__content__form__item__detail--second
                  = fin.label :"配送の方法"
                  %span.form-yes4__label-req 必須
                  %div
                    .select-wrap
                      = fin.select :shipping_methods do
                        %option{value:"" } ---
                        %option{value:"未定"}未定
                        %option{value:"らくらくメルカリ便", "data-val" => "送料込み(出品者負担)"}らくらくメルカリ便
                        %option{value:"ゆうメール", "data-val" => "送料込み(出品者負担)"}ゆうメール
                        %option{value:"レターパック", "data-val" => "送料込み(出品者負担)"}レターパック
                        %option{value:"普通郵便（定型、定形外）", "data-val" => "送料込み(出品者負担)"}普通郵便（定型、定形外）
                        %option{value:"クロネコヤマト", "data-val" => "着払い(購入者負担)"}クロネコヤマト
                        %option{value:"ゆうパック", "data-val" => "着払い(購入者負担)"}ゆうパック
                        %option{value:"レターパック", "data-val" => "着払い(購入者負担)"}レターパック
                      = fa_icon 'angle-down'
                .single-main__content__form__item__detail
                  = fin.label :"発送元の地域"
                  %span.form-yes4__label-req 必須
                  %div
                    .select-wrap
                      = fin.select :prefecuture,[["北海道","北海道"]],prompt:"---"
                      = fa_icon 'angle-down'
                .single-main__content__form__item__detail
                  = fin.label :"発送までの日数"
                  %span.form-yes4__label-req 必須
                  %div
                    .select-wrap
                      = fin.select :days_to_arrival,[["1~2日で発送","1~2日で発送"],["3~4日で発送","3~4日で発送"],["5~6日で発送","5~6日で発送"]],prompt:"---"
                      = fa_icon 'angle-down'
          .single-main__content__form__item.clearfix
            %h4.item__sub 販売価格(300〜9,999,999)
            .single-main__content__form__item__select
              %ul.sell-price
                %li.sell-price__box
                  %div.clearfix
                    %label.box__left 価格
                    %span.form-yes4__label-req 必須
                    .box__right
                      ¥
                      %div
                        = f.text_field :price,class:"input-price", placeholder:"例） 300"
                %li.sell-price__box--center.clearfix
                  .sell-price__box--center--left 販売手数料(10%)
                  .sell-price__box--center--right -
                %li.sell-price__box--bold
                  .sell-price__box--bold--left 販売利益
                  .sell-price__box--bold--right -

          .single-main__content__form__item
            %div
              %p
                %a 禁止されている出品
                、
                %a 行為
                を必ずご確認ください。
              %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                %a 加盟店規約
                に同意したことになります。
            = f.submit :"出品する",class:"sell__btn__red"
            = link_to root_path,class:"sell__btn__gray" do
              もどる

  %footer.single-footer
    %nav
      %ul
        %li
          %a{ href:"#"} プライバシーポリシー
        %li
          %a{ href:"#"} メルカリ利用規約
        %li
          %a{ href:"#"} 特定商取引に関する表記
    %a.single-footer__logo{ href:"#"}
      = image_tag("/images/logo-gray.svg",height: "65", width:"80")
    %p
      %small ©︎ 2018 Mercari
