
%head
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}

%body
  .default-content
    %header
    -if user_signed_in?
      = render partial: 'shared/header-login'
    -else
      = render partial: 'shared/header'
    .bread-crumbs
      %ul
        %li
          - breadcrumb :items
          = breadcrumbs separator: " &rsaquo; "
    %section.item
      %h1.item__name #{@item.name}
      .item__content.clearfix
        .item__content__image
          .item__content__image__top
            = image_tag("#{@item.images.first.image}",height:"300",width:"300",alt:"")
          .item__content__image__list.clearfix
            = render partial:"items/thumbnails", collection: @thumbnails
        %table.item__content__table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to user_path do
                  = @item.saler.name
                %div
                  .item-user__rating
                    %i.fa.fa-laugh
                    %span 12
                  .item-user__rating
                    %i.fa.fa-meh
                    %span 0
                  .item-user__rating
                    %i.fa.fa-frown
                    %span 3
            %tr
              %th カテゴリー
              %td
                = link_to "category_page" do
                  .large-category
                    %i.fa.fa-angle-right
                    = @item.lcategory.name
                = link_to "category_page" do
                  .medium-category
                    %i.fa.fa-angle-right
                    = @item.mcategory.name
                = link_to "category_page" do
                  .small-category
                    %i.fa.fa-angle-right
                    = @item.scategory.name
            %tr
              %th ブランド
              %td
                = link_to "brand_page" do
                  %div #{@item.brand}
            %tr
              %th 商品のサイズ
              %td #{@item.size}
            %tr
              %th 商品の状態
              %td #{@item.condition}
            %tr
              %th 配送料の負担
              %td #{@item.shipping_method.burden_fee}
            %tr
              %th 配送の方法
              %td #{@item.shipping_method.shipping_methods}
            %tr
              %th 配送元地域
              %td
                = link_to "prefecture_page" do
                  %div #{@item.shipping_method.prefecuture}
            %tr
              %th 発送の目安
              %td #{@item.shipping_method.days_to_arrival}
      .item__price
        %span.item__price--bold ¥ #{@item.price}
        %span.item__price__tax (税込)
        %span.item__price__shipping-fee 送料込み

      - if user_signed_in?
        - if current_user.id != @item.saler_id && @item.buyer_id == nil
          .item__point
            .item__point__message 所持ポイントが表示されます
          .item__btn 購入画面に進む
          = form_tag(action: :purchased, method: :post) do
            %script.payjp-button{"data-key" => "#{PAYJP_PUBLIC_KEY}", :src => "https://checkout.pay.jp", :type => "text/javascript" , "data-text" =>"購入画面に進む"}

        - if current_user.id != @item.saler_id && @item.buyer_id != nil
          .sold-lavel  売り切れました
      - else
        - if @item.buyer_id == nil
          .item__point
            .item__point__message 所持ポイントが表示されます
          = link_to '購入画面に進む' , new_user_session_path , class: 'item__btn'

        - if @item.buyer_id != nil
          .sold-lavel  売り切れました


      .item__description
        %p.item__description--inner
        #{@item.detail}
      .item__likes.clearfix
        .item__likes__left
          %button.item__button__likes
            %i.far.fa-heart
            %span いいね!
            %span 数
          %a.item__button__report
            %i.far.fa-flag
            %span 不適切な商品の報告
        .item__likes__right
          %a
            %i.fas.fa-lock
            %span あんしん・あんぜんへの取り組み
    .item-messages
      .item-messages__content
        .item-messages__content--inner
          %ul
            %li.clearfix
              .message__user
                %figure
                  %div
                  %figcaption.message__user__name ユーザー名
              .message__body
                .message__body__text ここにコメント本文が入ります。
                .message__body__icon
                  %time.message__body__icon__time
                    %i.fa.fa-clock
                    %span 日前
                %i.icon-balloon
        .item-messages__content--inner
          = form_for root_path do |f|
            .item-messages__content--inner__form
              %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
              = f.text_area :content,class:'content-detail',rows:"4"
              = f.submit :'コメントする',class:'sell__btn__gray'
    %ul.nav__item-link.clearfix
      %li
        = link_to "prev-item",class:'nav__item-link--prev' do
          %i.fa.fa-angle-left
          前のアイテム
      %li
        = link_to "next-item",class:'nav__item-link--next' do
          次のアイテム
          %i.fa.fa-angle-right
    .item-social-media
      %ul.item-social-media__box
        %li
          = link_to "www.facebook.com" do
            %i.fab.fa-facebook-square
        %li
          = link_to "www.twitter.com" do
            %i.fab.fa-twitter-square
        %li
          = link_to "www.line.com" do
            %i.fab.fa-line
        %li
          = link_to "www.printerest.com" do
            %i.fab.fa-pinterest-square
    .other-items
      %section.other-items__user
        %h2.other-items__head
          = link_to "#{@item.saler.name}さんのその他の出品","user-item-page"
        .other-items__contents.clearfix
          = render partial: 'items/saler_item_content'
      %section.other-items__brand
        %h2.other-items__head
          = link_to "#{@item.lcategory.name}のその他の出品","user-item-page"
        .other-items__contents.clearfix
          = render partial: 'items/category_item_content'
    = render partial: 'shared/footer'
